$bg-clrButton: #338c1d;
$mainColor: #222c3d;
$bgHeader: url("../img/m-h-day.jpg");
$bgClrCard: #201e21;
$bgClrLine: #1664e2;
$mainFont: "Source Sans Pro", sans-serif;
$hindFont: "Hind", sans-serif;
$bodyBgColor: #ffffff;
