$bg-clrButton: #ffd221;
$mainColor: #ffffff;
$bgHeader: url("../img/m-h-night.jpg");
$bgClrCard: #41414f;
$bgClrLine: #ff3b00;
$mainFont: "Fresca", sans-serif;
$hindFont: "Hind", sans-serif;
$bodyBgColor: #201e21;
