* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'merriweather', sans-serif;
}

.nav {
    margin-top: -84px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    background-color: #ffffff;
    position: fixed;
}

.nav-text {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.nav-list {
    display: flex;
}

.nav li {
    list-style-type: none;
    margin: 0 20px;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    color: #777777;
}

.nav-link:hover {
    color: #bfba55;
}

.header {
    margin-top: 84px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #000 0%, transparent 50%, #000 100%), no-repeat url(../img/home-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.header-title {
    padding-top: 320px;
    font-size: 73px;
    color: #ffffff;
}

.header-description {
    margin-top: 20px;
    color: #bfba55;
    font-size: 14px;
    letter-spacing: 2px;
}

.header-btn {
    display: block;
    margin: 50px auto;
    width: 160px;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    outline: none;
    border-radius: 26px;
    border: 1px solid #777777;
    padding: 13px 0;
}

.main {
    width: 100%;
    padding: 20px 300px 0;
}

.article {
    margin-top: 80px;
}

.article-img {
    width: 100%;
}

.article-title {
    margin-top: 40px;
    color: #000000;
    font-size: 27px;
}

.article-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0 30px;
}

.article-wrapper_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.article-text {
    color: #777777;
    font-size: 14px;
    margin-right: 20px;
}

.article-description {
    color: #777777;
    font-size: 16px;
    line-height: 1.7;
}

.article-btn {
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 200px;
    font-size: 16px;
    color: #777777;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #ffffff;
    outline: none;
    border-radius: 26px;
    border: 1px solid #777777;
    padding: 15px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 80px 300px 0px;
}

.footer-title {
    font-size: 25px;
    color: #fff;
}

.footer-wrapper {
    width: 50%;
}

.footer-wrapper:last-child {
    width: 40%;
}

.footer-description {
    margin: 20px 0;
    font-size: 14px;
    color: #777777;
    line-height: 1.7;
}